[user]
	email = julius.juodagalvis@gmail.com
	name = Julius Juodagalvis
[core]
	excludesfile = ~/.gitignore_global

[alias]
	co = checkout
    feature = flow feature
	activity = show --pretty=format:"%Cgreen%ci %Cblue%cr%Creset" $k -- | head -n 1`\\t$k; done | sort -r
